Flow/Flow_Aalarm_separate cabinet/flow alarm_separate cabinet002(test).json
[
    {
        "id": "690a913c4cbe204a",
        "type": "join",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "6",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1590,
        "y": 5180,
        "wires": [
            [
                "8adf8ba68cbc2442",
                "640424f656d44b28"
            ]
        ]
    },
    {
        "id": "d7827d89dc072995",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\alarm_en",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 900,
        "y": 5180,
        "wires": [
            [
                "5fa831551b077a40",
                "be8477413070fb44"
            ]
        ]
    },
    {
        "id": "98b7ced1e792786c",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\temp_l",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 5320,
        "wires": [
            [
                "370607b40d0a849d",
                "22a725234798fdcb"
            ]
        ]
    },
    {
        "id": "5fa831551b077a40",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\temp_h",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 5240,
        "wires": [
            [
                "98b7ced1e792786c",
                "1796a9a03c69e675"
            ]
        ]
    },
    {
        "id": "370607b40d0a849d",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\temp_1",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 5380,
        "wires": [
            [
                "5f491122b413b09d",
                "66fde7efc8efd51d"
            ]
        ]
    },
    {
        "id": "5f491122b413b09d",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\temp_2",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 5440,
        "wires": [
            [
                "24a03da91b133779",
                "4719a9e520f53a7a"
            ]
        ]
    },
    {
        "id": "24a03da91b133779",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\temp_3",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 5500,
        "wires": [
            [
                "b8e6aa7318003f41",
                "ecee5293ad3c546c"
            ]
        ]
    },
    {
        "id": "f2ce7b9d55e93f73",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alarm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 5180,
        "wires": [
            [
                "5246646b8ac564a4",
                "0d6b4d175002f2a5"
            ]
        ]
    },
    {
        "id": "5246646b8ac564a4",
        "type": "switch",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2530,
        "y": 5180,
        "wires": [
            [
                "cf13acb5ab74ccb3"
            ],
            [
                "1515cf9bf637583e"
            ],
            [
                "c331dbfe9889636d"
            ]
        ]
    },
    {
        "id": "cf13acb5ab74ccb3",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2760,
        "y": 5100,
        "wires": [
            [
                "f4319e35865a1885"
            ]
        ]
    },
    {
        "id": "1515cf9bf637583e",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2760,
        "y": 5180,
        "wires": [
            [
                "f4319e35865a1885",
                "46cc03effa9dd582",
                "e9b69283a8526b43"
            ]
        ]
    },
    {
        "id": "12132c4681513785",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "F-alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 5140,
        "wires": []
    },
    {
        "id": "0d6b4d175002f2a5",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "Result alarm",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 5140,
        "wires": []
    },
    {
        "id": "c2b5585fd6740529",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 223",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5500,
        "wires": []
    },
    {
        "id": "cbe894d6eb1c1adf",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 224",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5420,
        "wires": []
    },
    {
        "id": "f10bcb7ad03d7f32",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 225",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5380,
        "wires": []
    },
    {
        "id": "d0042ea8f4b96da5",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 226",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5320,
        "wires": []
    },
    {
        "id": "fd17e8c96bf2cd1c",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 227",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5240,
        "wires": []
    },
    {
        "id": "b8e6aa7318003f41",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 127",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5500,
        "wires": [
            [
                "690a913c4cbe204a",
                "c2b5585fd6740529"
            ]
        ]
    },
    {
        "id": "8b89e115d1889cdd",
        "type": "comment",
        "z": "a7bcc23fa1082baf",
        "name": "Test alarm loop separate cabinet V.4",
        "info": "",
        "x": 320,
        "y": 5000,
        "wires": []
    },
    {
        "id": "4719a9e520f53a7a",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 128",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5440,
        "wires": [
            [
                "690a913c4cbe204a",
                "cbe894d6eb1c1adf"
            ]
        ]
    },
    {
        "id": "66fde7efc8efd51d",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 129",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5380,
        "wires": [
            [
                "690a913c4cbe204a",
                "f10bcb7ad03d7f32"
            ]
        ]
    },
    {
        "id": "5e8d58319caf4402",
        "type": "inject",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 5180,
        "wires": [
            [
                "d7827d89dc072995",
                "48dfa54b90344465"
            ]
        ]
    },
    {
        "id": "8adf8ba68cbc2442",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 228",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 5140,
        "wires": []
    },
    {
        "id": "22a725234798fdcb",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 130",
        "func": "// ใน \"Function\" Node\nvar fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    // numericValue เป็นตัวเลขที่ได้\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; // หรือ return msg; หรือ return; ตามความเหมาะสม\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5320,
        "wires": [
            [
                "690a913c4cbe204a",
                "d0042ea8f4b96da5"
            ]
        ]
    },
    {
        "id": "1796a9a03c69e675",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 131",
        "func": "var fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5240,
        "wires": [
            [
                "fd17e8c96bf2cd1c",
                "690a913c4cbe204a"
            ]
        ]
    },
    {
        "id": "640424f656d44b28",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 132",
        "func": "var out = {};\nvar condition1, condition2;\n\n// ตรวจสอบเงื่อนไขของ sensorID1\nif (msg.payload[6].sensorID1Data === true) {\n    condition1 = msg.payload[3] >= msg.payload[1];\n    condition2 = msg.payload[3] < msg.payload[2];\n}\n\n// ตรวจสอบเงื่อนไขของ sensorID2\nif (msg.payload[6].sensorID2Data === true) {\n    condition1 = condition1 || msg.payload[4] >= msg.payload[1];\n    condition2 = condition2 || msg.payload[4] < msg.payload[2];\n}\n\n// ตรวจสอบเงื่อนไขของ sensorID3\nif (msg.payload[6].sensorID3Data === true) {\n    condition1 = condition1 || msg.payload[5] >= msg.payload[1];\n    condition2 = condition2 || msg.payload[5] < msg.payload[2];\n}\n\n// ตรวจสอบเงื่อนไข\nif (condition1) {\n    out[\"alarm\"] = msg.payload[0] === 1 ? \"0\" : '2';\n} else if (condition2) {\n    out[\"alarm\"] = msg.payload[0] === 1 ? '0' : '2';\n} else {\n    out[\"alarm\"] = \"1\";\n}\n\nmsg.payload = out;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 5180,
        "wires": [
            [
                "12132c4681513785",
                "f2ce7b9d55e93f73"
            ]
        ]
    },
    {
        "id": "853839a3a3c21ad0",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 229",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 5100,
        "wires": []
    },
    {
        "id": "4fcc173a75321f0a",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 133",
        "func": "var fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 5140,
        "wires": [
            [
                "853839a3a3c21ad0",
                "690a913c4cbe204a"
            ]
        ]
    },
    {
        "id": "be8477413070fb44",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 5180,
        "wires": [
            [
                "4fcc173a75321f0a"
            ]
        ]
    },
    {
        "id": "22c2fd0d2bf01fe3",
        "type": "inject",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2540,
        "y": 5260,
        "wires": [
            [
                "1515cf9bf637583e"
            ]
        ]
    },
    {
        "id": "48dfa54b90344465",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 230",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 5140,
        "wires": []
    },
    {
        "id": "f4319e35865a1885",
        "type": "trigger",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2960,
        "y": 5100,
        "wires": [
            [
                "7b42d526d20d11bc",
                "f0f86f7e29765183"
            ]
        ]
    },
    {
        "id": "6f23eecede37e0c8",
        "type": "inject",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2540,
        "y": 5100,
        "wires": [
            [
                "cf13acb5ab74ccb3"
            ]
        ]
    },
    {
        "id": "46cc03effa9dd582",
        "type": "trigger",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2970,
        "y": 5500,
        "wires": [
            [
                "1d56ad295ba234af"
            ]
        ]
    },
    {
        "id": "1d56ad295ba234af",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 231",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3190,
        "y": 5500,
        "wires": []
    },
    {
        "id": "c331dbfe9889636d",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2760,
        "y": 5280,
        "wires": [
            [
                "4a00bbcde2588710"
            ]
        ]
    },
    {
        "id": "ecee5293ad3c546c",
        "type": "file in",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "filename": "E:\\Weaverbase\\Project\\btg_SmartFarm_supan(0164)\\Test_Read file_Alarm\\sensorID_1",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 5560,
        "wires": [
            [
                "74f84619b6aeee8e"
            ]
        ]
    },
    {
        "id": "74f84619b6aeee8e",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "function 135",
        "func": "var jsonData = JSON.parse(msg.payload);\n\n// ดึงข้อมูล SensorID1 จาก object\nvar sensorID1Data = jsonData.sensorsAlarmenable[0].status;\nvar sensorID2Data = jsonData.sensorsAlarmenable[1].status;\nvar sensorID3Data = jsonData.sensorsAlarmenable[2].status;\n\nvar result = {\n\n    sensorID1Data,\n    sensorID2Data,\n    sensorID3Data,\n};\nmsg.payload = result;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 5560,
        "wires": [
            [
                "98dfaab714689f91",
                "690a913c4cbe204a"
            ]
        ]
    },
    {
        "id": "98dfaab714689f91",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 232",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 5560,
        "wires": []
    },
    {
        "id": "881423cd8287cd31",
        "type": "comment",
        "z": "a7bcc23fa1082baf",
        "name": "Link to buzzer & mqtt",
        "info": "",
        "x": 3200,
        "y": 4940,
        "wires": []
    },
    {
        "id": "c82bef671af0671e",
        "type": "comment",
        "z": "a7bcc23fa1082baf",
        "name": "Link to calling loop",
        "info": "",
        "x": 3410,
        "y": 5500,
        "wires": []
    },
    {
        "id": "7b42d526d20d11bc",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "close after",
        "func": "return [[msg, { payload: 'close', topic: 'control' }]]",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 5140,
        "wires": [
            [
                "99215b2e33cd8d9c"
            ]
        ]
    },
    {
        "id": "99215b2e33cd8d9c",
        "type": "gate",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 3330,
        "y": 5160,
        "wires": [
            [
                "d9fa254c92f131d7"
            ]
        ]
    },
    {
        "id": "ef9d049116dde241",
        "type": "change",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3640,
        "y": 5160,
        "wires": [
            [
                "46cc03effa9dd582"
            ]
        ]
    },
    {
        "id": "e9b69283a8526b43",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "close after",
        "func": "return [[msg, { payload: 'open', topic: 'control' }]]",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 5180,
        "wires": [
            [
                "99215b2e33cd8d9c"
            ]
        ]
    },
    {
        "id": "f0f86f7e29765183",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 235",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3170,
        "y": 5000,
        "wires": []
    },
    {
        "id": "78240e167e4cee9b",
        "type": "function",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "func": "var data=msg.payload;\nvar out={};\n\nif (msg.payload[3] >= msg.payload[1] || msg.payload[4] >= msg.payload[1] || msg.payload[5] >= msg.payload[1])\n{\n    if(msg.payload[0] == \"true\")\n    {\n    out[\"alarm\"]='0'; \n    }\n    else if(msg.payload[0] == \"false\")\n    {\n    out[\"alarm\"]='1';    \n    }\n}\n\nelse if (msg.payload[3] < msg.payload[2] || msg.payload[4] < msg.payload[2] || msg.payload[5] < msg.payload[2])\n{\n    if(msg.payload[0] == \"true\")\n    {\n    out[\"alarm\"]='0'; \n    }\n    else if(msg.payload[0] == \"false\")\n    {\n    out[\"alarm\"]='1';    \n    }\n}\n\nelse\n{\n   out[\"alarm\"]='1';  \n}\n\nmsg.payload=[out];\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 5000,
        "wires": [
            []
        ]
    },
    {
        "id": "4a00bbcde2588710",
        "type": "trigger",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2960,
        "y": 5280,
        "wires": [
            [
                "b08dee60a6553e29"
            ]
        ]
    },
    {
        "id": "b08dee60a6553e29",
        "type": "debug",
        "z": "a7bcc23fa1082baf",
        "name": "debug 236",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3170,
        "y": 5280,
        "wires": []
    },
    {
        "id": "f39f7f3ed0d20129",
        "type": "comment",
        "z": "a7bcc23fa1082baf",
        "name": "Link to buzzer & mqtt",
        "info": "",
        "x": 3200,
        "y": 5240,
        "wires": []
    },
    {
        "id": "d9fa254c92f131d7",
        "type": "switch",
        "z": "a7bcc23fa1082baf",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3470,
        "y": 5160,
        "wires": [
            [
                "ef9d049116dde241"
            ]
        ]
    }
]