Flow/Server_btg/Server_betagro_node.json
[{"id":"2b7908a4784ed23c","type":"tab","label":"btg_vaccine_monitoring","disabled":false,"info":"","env":[]},{"id":"1d955245a7e4563f","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/temp1","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":340,"wires":[["19d1bead92ac6198"]]},{"id":"da873668f2b283f2","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/temp2","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":380,"wires":[["24f695cc052721d7"]]},{"id":"28be186c34af648c","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/temp3","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":420,"wires":[["022a84ecfb859dd2"]]},{"id":"ba5e8229d5b36f97","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/hum1","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":500,"wires":[["09337dc409ff486b"]]},{"id":"1b28d9b650ea953f","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/hum2","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":540,"wires":[["dc2efafa2363c161"]]},{"id":"034f2ab769316785","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/hum3","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":580,"wires":[["57444c432f3edaa1"]]},{"id":"2d91f37b11ef3957","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"t_supan_1","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":340,"wires":[]},{"id":"7279db0314f48640","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"t_supan_2","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":380,"wires":[]},{"id":"1b4a058568945647","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"t_supan_3","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":420,"wires":[]},{"id":"9201dc3c04ceede7","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"h_supan_1","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":500,"wires":[]},{"id":"ee5c5974c819ba8b","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"h_supan_2","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":540,"wires":[]},{"id":"69ec5ae56b0b9204","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"h_supan_3","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":960,"y":580,"wires":[]},{"id":"348b4db494e59104","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":1620,"wires":[[]]},{"id":"bc7c7ad5e8a4397c","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["bd357f492b56214e"]]},{"id":"60ebfc45.9f1404","type":"function","z":"2b7908a4784ed23c","name":"","func":"msg.payload = {lat:14.47446349670343,lon:100.1248264015538,precision:5,temp:msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":540,"wires":[["6f1c5357.90e3ac"]]},{"id":"6f1c5357.90e3ac","type":"geohash","z":"2b7908a4784ed23c","name":"","x":1680,"y":540,"wires":[["71a94378.8e56bc","b7188474d85d7289"]]},{"id":"893e37b7.76c1c8","type":"debug","z":"2b7908a4784ed23c","name":"","active":false,"console":"false","complete":"false","x":1550,"y":460,"wires":[]},{"id":"71a94378.8e56bc","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"console":"false","complete":"false","x":1870,"y":540,"wires":[]},{"id":"b7188474d85d7289","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"map_data_supan","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1940,"y":480,"wires":[]},{"id":"32bd772600344e02","type":"join","z":"2b7908a4784ed23c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":460,"wires":[["bfdaa2949a938f36"]]},{"id":"bfdaa2949a938f36","type":"calculator","z":"2b7908a4784ed23c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"max","constant":"","round":true,"decimals":"1","x":1370,"y":460,"wires":[["893e37b7.76c1c8","60ebfc45.9f1404"]]},{"id":"092dafd3dd2b6e0e","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.18.contacts.0.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":680,"wires":[["8e368e5b629eb169"]]},{"id":"fe918a1c70c5d82f","type":"file in","z":"2b7908a4784ed23c","name":"","filename":"branch_data","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1410,"y":680,"wires":[["d9566c303e7f015e"]]},{"id":"d9566c303e7f015e","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":1550,"y":680,"wires":[["092dafd3dd2b6e0e","05a7a2fbe82dc4a2"]]},{"id":"8742f7a4abdbe154","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1260,"y":680,"wires":[["fe918a1c70c5d82f"]]},{"id":"8e368e5b629eb169","type":"debug","z":"2b7908a4784ed23c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":680,"wires":[]},{"id":"05a7a2fbe82dc4a2","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.18.contacts.1.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":760,"wires":[["886d6612966bacb3"]]},{"id":"886d6612966bacb3","type":"debug","z":"2b7908a4784ed23c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1870,"y":820,"wires":[]},{"id":"3439e99846e02d52","type":"mqtt out","z":"2b7908a4784ed23c","name":"","topic":"Supan_device_Status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8c7352d4.16715","x":1080,"y":1380,"wires":[]},{"id":"d4d98489d6ee0cca","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"Supan_device_Status","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":840,"y":1460,"wires":[["acb4b4d9c3bc5498"]]},{"id":"e1a40b08313ae536","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sts","payloadType":"str","x":810,"y":1380,"wires":[["3439e99846e02d52"]]},{"id":"acb4b4d9c3bc5498","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":1460,"wires":[["466c480c806e02f7"]]},{"id":"2761444fd74004cd","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"NodeStatus_Supan","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1830,"y":1460,"wires":[]},{"id":"7c69d8192e9a6bb8","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sts","payloadType":"str","x":810,"y":1320,"wires":[["3439e99846e02d52"]]},{"id":"f0deed80b7a43f09","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1660,"wires":[]},{"id":"466c480c806e02f7","type":"timeout","z":"2b7908a4784ed23c","name":"My Timeout","outtopic":"","outsafe":"1","outwarning":"","outunsafe":"0","warning":"","timer":"600","repeat":false,"again":false,"x":1190,"y":1460,"wires":[["fcdfabeacad7d5a9","6a52a6aa21eb6ab0"]]},{"id":"fcdfabeacad7d5a9","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":1400,"wires":[]},{"id":"19d1bead92ac6198","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":340,"wires":[["bc7c7ad5e8a4397c","15e0f49a53b948a4"]]},{"id":"e79b8f26db941bb3","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["74a5f9b11bac327e"]]},{"id":"8538cb49f544195d","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["8eab64359461abb4"]]},{"id":"24f695cc052721d7","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":380,"wires":[["e79b8f26db941bb3","15e0f49a53b948a4"]]},{"id":"022a84ecfb859dd2","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":420,"wires":[["8538cb49f544195d","15e0f49a53b948a4"]]},{"id":"d003171c10fb9585","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["8b21abd1ee95cc3e"]]},{"id":"09337dc409ff486b","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":500,"wires":[["d003171c10fb9585"]]},{"id":"2737f38af8fb941b","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["e508960c4293a3db"]]},{"id":"7f68b3491fa6537a","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[["0b2390afed026412"]]},{"id":"dc2efafa2363c161","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":540,"wires":[["2737f38af8fb941b"]]},{"id":"57444c432f3edaa1","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":580,"wires":[["7f68b3491fa6537a"]]},{"id":"bd357f492b56214e","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":340,"wires":[["2d91f37b11ef3957","741ec24225b52dc4","32bd772600344e02"]]},{"id":"8b21abd1ee95cc3e","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":500,"wires":[["9201dc3c04ceede7"]]},{"id":"74a5f9b11bac327e","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":380,"wires":[["7279db0314f48640","741ec24225b52dc4","32bd772600344e02"]]},{"id":"8eab64359461abb4","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":420,"wires":[["1b4a058568945647","741ec24225b52dc4","32bd772600344e02"]]},{"id":"e508960c4293a3db","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":540,"wires":[["ee5c5974c819ba8b"]]},{"id":"0b2390afed026412","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":580,"wires":[["69ec5ae56b0b9204"]]},{"id":"5d841f63b7cbd244","type":"mqtt out","z":"2b7908a4784ed23c","name":"","topic":"alarm_onsite","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8c7352d4.16715","x":1450,"y":340,"wires":[]},{"id":"4df431614b4d538d","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":1270,"y":320,"wires":[["5d841f63b7cbd244"]]},{"id":"a52a63f817de1b75","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":1270,"y":380,"wires":[["5d841f63b7cbd244"]]},{"id":"b6c2009d5dcc0a96","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/vol1","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":700,"wires":[["dc0515cc3fd3dda2","ad284b062f60afc2"]]},{"id":"dc0515cc3fd3dda2","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":640,"wires":[]},{"id":"1c05d7eb9e404b18","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/vol2","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":760,"wires":[["4edc44d26060fee8"]]},{"id":"b0bca6b8145a051e","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/vol3","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":820,"wires":[["d821accdfe9e5a66"]]},{"id":"2cd0e071856298c5","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.voltage)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[["797ed882b4b72071"]]},{"id":"ad284b062f60afc2","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":700,"wires":[["2cd0e071856298c5"]]},{"id":"6d5663bf1fadbb60","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.voltage)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":760,"wires":[["3bc1e454c0acd795"]]},{"id":"4edc44d26060fee8","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":760,"wires":[["6d5663bf1fadbb60"]]},{"id":"da1d10ad59bfd7c2","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.voltage)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["4f503d4595b00320"]]},{"id":"d821accdfe9e5a66","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":820,"wires":[["da1d10ad59bfd7c2"]]},{"id":"6613999922c50a3e","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/cur1","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":900,"wires":[["cd230ed0830771d3"]]},{"id":"35c2c3152185c348","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/cur2","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":960,"wires":[["d3e65c949f94ee50"]]},{"id":"282886b4a90110aa","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/cur3","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1020,"wires":[["d9ad5d5d7a6050eb"]]},{"id":"bf3926b77bdf534b","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.current)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":900,"wires":[["dae394d2d6d34f92"]]},{"id":"cd230ed0830771d3","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":900,"wires":[["bf3926b77bdf534b"]]},{"id":"8f7b29ddf9367c8d","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.current)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":960,"wires":[["ed1d7e67c26ba538"]]},{"id":"d3e65c949f94ee50","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":960,"wires":[["8f7b29ddf9367c8d"]]},{"id":"eaf0653cf052ec42","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.current)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1020,"wires":[["7d3974e44f241006"]]},{"id":"d9ad5d5d7a6050eb","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1020,"wires":[["eaf0653cf052ec42"]]},{"id":"578f0ba380b3066f","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/pow1","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1100,"wires":[["b49da45b15a3ed08"]]},{"id":"4ebc8912a3c1716d","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/pow2","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1160,"wires":[["d41c22afbf7b6e88"]]},{"id":"e309264013c26f6f","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/pow3","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":1220,"wires":[["708f74b825ca1410"]]},{"id":"1d1334a3d7b403cb","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1100,"wires":[["9ad7219e3d0bec96"]]},{"id":"b49da45b15a3ed08","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1100,"wires":[["1d1334a3d7b403cb"]]},{"id":"1d67e939be0420dd","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1160,"wires":[["f20c958daf1332e0"]]},{"id":"d41c22afbf7b6e88","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1160,"wires":[["1d67e939be0420dd"]]},{"id":"514903c4ed22583e","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1220,"wires":[["6b43c8147eb5e2a5"]]},{"id":"708f74b825ca1410","type":"json","z":"2b7908a4784ed23c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":1220,"wires":[["514903c4ed22583e"]]},{"id":"d611a22dd5633e04","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"vol_supan_1","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":700,"wires":[]},{"id":"6f37e36c19d2cb19","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"vol_supan_2","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":760,"wires":[]},{"id":"b5858981ede9e6a7","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"vol_supan_3","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":820,"wires":[]},{"id":"71eb34dfb67e2479","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"cur_supan_1","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":900,"wires":[]},{"id":"adb86e2702a92485","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"cur_supan_2","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":960,"wires":[]},{"id":"2cd06b010d48de0a","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"cur_supan_3","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":1020,"wires":[]},{"id":"e1b5ac48928939e5","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"pow_supan_1","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":1100,"wires":[]},{"id":"9bde819d88c45dab","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"pow_supan_2","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":1160,"wires":[]},{"id":"2d05bcd734ac14d6","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"pow_supan_3","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":1220,"wires":[]},{"id":"797ed882b4b72071","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"250","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":700,"wires":[["d611a22dd5633e04"]]},{"id":"3bc1e454c0acd795","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"250","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":760,"wires":[["6f37e36c19d2cb19"]]},{"id":"4f503d4595b00320","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"250","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":820,"wires":[["b5858981ede9e6a7"]]},{"id":"dae394d2d6d34f92","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":900,"wires":[["71eb34dfb67e2479"]]},{"id":"ed1d7e67c26ba538","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":960,"wires":[["adb86e2702a92485"]]},{"id":"7d3974e44f241006","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1020,"wires":[["2cd06b010d48de0a"]]},{"id":"741ec24225b52dc4","type":"join","z":"2b7908a4784ed23c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":240,"wires":[["8999fb285ffe7a8e"]]},{"id":"3a3a9259c5798498","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":640,"y":200,"wires":[["741ec24225b52dc4"]]},{"id":"9a665c4794165c84","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":240,"wires":[]},{"id":"0d4fb5284fc85430","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.alarm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[["c1feb715224e4707"]]},{"id":"c1feb715224e4707","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":240,"wires":[["e2d94f909f64fe4e"],["24b2978b2b41e910"]]},{"id":"e2d94f909f64fe4e","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":200,"wires":[["9a665c4794165c84"]]},{"id":"24b2978b2b41e910","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":280,"wires":[["9a665c4794165c84"]]},{"id":"15e0f49a53b948a4","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]},{"id":"9ad7219e3d0bec96","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1100,"wires":[["e1b5ac48928939e5","0ffd90b4016eadd9"]]},{"id":"f20c958daf1332e0","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1160,"wires":[["9bde819d88c45dab","0ffd90b4016eadd9"]]},{"id":"6b43c8147eb5e2a5","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"2000","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1220,"wires":[["2d05bcd734ac14d6","0ffd90b4016eadd9"]]},{"id":"6a52a6aa21eb6ab0","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":1460,"wires":[["644653be64fc6333"]]},{"id":"eae0377595803eb9","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"Total_Alarm","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1640,"y":1340,"wires":[]},{"id":"2efdaa83db231653","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1340,"y":1340,"wires":[["eae0377595803eb9"]]},{"id":"a97b8f47d6903967","type":"mqtt out","z":"2b7908a4784ed23c","name":"","topic":"supan_team_test_power","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8c7352d4.16715","x":1010,"y":1280,"wires":[]},{"id":"0ffd90b4016eadd9","type":"join","z":"2b7908a4784ed23c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790,"y":1260,"wires":[["a97b8f47d6903967"]]},{"id":"29d83b80d097d6a1","type":"http in","z":"2b7908a4784ed23c","name":"","url":"/branchupdate/:branch","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1840,"wires":[["2baaf9262c56d581","425b1d07d1cd63bb"]]},{"id":"2baaf9262c56d581","type":"template","z":"2b7908a4784ed23c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n  <head>\n  </head>\n  <body>\n        <h1>@{{req.params.branch}}#</h1>\n  </body>\n</html>","x":410,"y":1840,"wires":[["4685863db2f49987","2745d6e79a5afbe9"]]},{"id":"4685863db2f49987","type":"http response","z":"2b7908a4784ed23c","name":"","statusCode":"","headers":{},"x":550,"y":1780,"wires":[]},{"id":"1adeb4a287e67169","type":"http request","z":"2b7908a4784ed23c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://betagro-dev.labs.weaverboard.com/api/branches/0164","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":870,"y":1840,"wires":[["a41a28f58a9254c6"]]},{"id":"2745d6e79a5afbe9","type":"string","z":"2b7908a4784ed23c","name":"","methods":[{"name":"between","params":[{"type":"str","value":"@"},{"type":"str","value":"#"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":550,"y":1840,"wires":[["ce17b12627a72198"]]},{"id":"425b1d07d1cd63bb","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1880,"wires":[]},{"id":"ce17b12627a72198","type":"switch","z":"2b7908a4784ed23c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0164","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1840,"wires":[["1adeb4a287e67169"]]},{"id":"0d8f43250a0cbb22","type":"inject","z":"2b7908a4784ed23c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":1740,"wires":[["1adeb4a287e67169"]]},{"id":"a41a28f58a9254c6","type":"mqtt out","z":"2b7908a4784ed23c","name":"","topic":"btg/0164","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8c7352d4.16715","x":1060,"y":1840,"wires":[]},{"id":"644653be64fc6333","type":"calculator","z":"2b7908a4784ed23c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"","round":false,"decimals":0,"x":1570,"y":1460,"wires":[["2761444fd74004cd"]]},{"id":"1b91ed97c9230ea7","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/temp1","qos":"2","datatype":"json","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":200,"wires":[["2a0af24c00f74a19"]]},{"id":"8229245fa1e0dc8a","type":"change","z":"2b7908a4784ed23c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":280,"wires":[[]]},{"id":"2a0af24c00f74a19","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"aaa","measurement":"t_supan_test","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":310,"y":200,"wires":[]},{"id":"1e145c45b0136076","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_alarm_status_supan","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":1320,"wires":[["cf763adce7e25a8b"]]},{"id":"cf763adce7e25a8b","type":"influxdb out","z":"2b7908a4784ed23c","influxdb":"f9bd8cd0.6f5c88","name":"","measurement":"supan_alarm_status","precision":"","retentionPolicy":"","database":"kaset","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":530,"y":1320,"wires":[]},{"id":"d0126f504f2be7db","type":"mqtt in","z":"2b7908a4784ed23c","name":"","topic":"btg_vc/temp1","qos":"2","datatype":"json","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":100,"wires":[["02b348aeb4cb84a4"]]},{"id":"02b348aeb4cb84a4","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"fcbb3312282f384f","type":"debug","z":"2b7908a4784ed23c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":1920,"wires":[]},{"id":"8999fb285ffe7a8e","type":"function","z":"2b7908a4784ed23c","name":"","func":"var data=msg.payload;\nvar out={};\nif (msg.payload[0] >= 10 || msg.payload[1] >= 10 || msg.payload[2] >= 10)\n{\n   out[\"alarm\"]='0'; \n}\n\nif (msg.payload[0] < 0 || msg.payload[1] < 0 || msg.payload[2] < 0)\n{\n   out[\"alarm\"]='0'; \n}\nelse\n{\n   out[\"alarm\"]='1';  \n}\nmsg.payload=[out];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":240,"wires":[["0d4fb5284fc85430"]]},{"id":"8c7352d4.16715","type":"mqtt-broker","name":"","broker":"thingsboard.weaverbase.com","port":"3002","clientid":"s4gi9a43qnpz2abxeny9","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9bd8cd0.6f5c88","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"doophoon","name":"pettag","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false}]