Flow/options_functions_calblock/Test004_flowcal_blockdata-cutAVG.json
[
    {
        "id": "5e212840089375d4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "64e4263df8dc8f8e",
        "type": "function",
        "z": "5e212840089375d4",
        "name": "cal_check_blockdataTemp1-001",
        "func": "var temperatureArray = context.get('temperatureArray') || [];\n\nvar currentTemperature = msg.payload\n\ntemperatureArray.push(currentTemperature);\n\n// ให้ array มีขนาดไม่เกิน 3 ค่า\nif (temperatureArray.length > 3) {\n    temperatureArray.shift();\n}\n\n// คำนวณค่าเฉลี่ย\n//var averageTemperature = temperatureArray.reduce((acc, val) => acc + val, 0) / temperatureArray.length;\n\n\n//if (currentTemperature > averageTemperature * 1.6) {\n//    msg.payload = \"Temp_1 Hight\";\n//} else {\n//    msg.payload = \"Temp_1 Normal\";\n//}\n\n// อัพเดต array ใน context\ncontext.set('temperatureArray', temperatureArray);\n\n//var csvData = `${currentTemperature},${temperatureArray},${averageTemperature}\\n`;\nvar csvData = temperatureArray.map(val => val.toFixed(2)).join(',') + '\\n';\n\nmsg.payload = csvData;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "43c010dc9aad3fb3",
        "type": "function",
        "z": "5e212840089375d4",
        "name": "cal_check_blockdataTemp1-001",
        "func": "var temperatureArray = context.get('temperatureArray') || [];\n\nvar currentTemperature = msg.payload\n\ntemperatureArray.push(currentTemperature);\n\n// ให้ array มีขนาดไม่เกิน 3 ค่า\nif (temperatureArray.length > 3) {\n    temperatureArray.shift();\n}\n\n// คำนวณค่าเฉลี่ย\n//var averageTemperature = temperatureArray.reduce((acc, val) => acc + val, 0) / temperatureArray.length;\n\n\n//if (currentTemperature > averageTemperature * 1.6) {\n//    msg.payload = \"Temp_1 Hight\";\n//} else {\n//    msg.payload = \"Temp_1 Normal\";\n//}\n\n// อัพเดต array ใน context\ncontext.set('temperatureArray', temperatureArray);\n\n//var csvData = `${currentTemperature},${temperatureArray},${averageTemperature}\\n`;\nvar csvData = temperatureArray.map(val => val.toFixed(2)).join(',') + '\\n';\n\nmsg.payload = csvData;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "07e30af8f1dcb6a5",
        "type": "function",
        "z": "5e212840089375d4",
        "name": "cal_check_blockdataTemp1-001",
        "func": "var temperatureArray = context.get('temperatureArray') || [];\n\nvar currentTemperature = msg.payload\n\ntemperatureArray.push(currentTemperature);\n\n// ให้ array มีขนาดไม่เกิน 3 ค่า\nif (temperatureArray.length > 3) {\n    temperatureArray.shift();\n}\n\n// คำนวณค่าเฉลี่ย\n//var averageTemperature = temperatureArray.reduce((acc, val) => acc + val, 0) / temperatureArray.length;\n\n\n//if (currentTemperature > averageTemperature * 1.6) {\n//    msg.payload = \"Temp_1 Hight\";\n//} else {\n//    msg.payload = \"Temp_1 Normal\";\n//}\n\n// อัพเดต array ใน context\ncontext.set('temperatureArray', temperatureArray);\n\n//var csvData = `${currentTemperature},${temperatureArray},${averageTemperature}\\n`;\nvar csvData = temperatureArray.map(val => val.toFixed(2)).join(',') + '\\n';\n\nmsg.payload = csvData;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    }
]