Flow/Flow_Alarm_backup/btg_calling.json
[{"id":"bc22bf37633ae9c3","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"b755b31799ecaa70","type":"json","z":"bc22bf37633ae9c3","name":"","property":"payload","action":"","pretty":false,"x":250,"y":760,"wires":[["a8a54d2d9341a187","ccea82302fcee170","2d4d042916e8ee0d","1bd19efe59745b2e","048c3748ae90bc55","3f527cca8ac6bdf8","ee0372793f9efb40","ea6435a60858f861","b182a307e00a050b"]]},{"id":"0cca5cc26bca4648","type":"mqtt in","z":"bc22bf37633ae9c3","name":"","topic":"btg/0164","qos":"2","datatype":"auto","broker":"8c7352d4.16715","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":760,"wires":[["b755b31799ecaa70"]]},{"id":"71b5a6712d36c432","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"no1","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":610,"y":760,"wires":[[]]},{"id":"a8a54d2d9341a187","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.contacts.0.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":760,"wires":[["71b5a6712d36c432"]]},{"id":"76e3d8e26b24e5b8","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"no2","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":610,"y":820,"wires":[[]]},{"id":"ccea82302fcee170","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.contacts.1.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["76e3d8e26b24e5b8"]]},{"id":"2d4d042916e8ee0d","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.contacts.2.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[["c558269b8c50bcc2"]]},{"id":"c558269b8c50bcc2","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"no3","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":610,"y":880,"wires":[[]]},{"id":"1bd19efe59745b2e","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.contacts.3.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":940,"wires":[["8ad51a4ef123573f"]]},{"id":"8ad51a4ef123573f","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"no4","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":610,"y":940,"wires":[[]]},{"id":"048c3748ae90bc55","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.contacts.4.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[["20b5c3d566711cf8"]]},{"id":"20b5c3d566711cf8","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"no5","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":610,"y":1000,"wires":[[]]},{"id":"ac12e30a717666b2","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"no1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1090,"y":800,"wires":[["f47882c3d5cb05ef"]]},{"id":"5c35357b5e7990e5","type":"inject","z":"bc22bf37633ae9c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":860,"y":760,"wires":[["3504803ebfba25b3"]]},{"id":"f47882c3d5cb05ef","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":840,"wires":[["01bd614101c74368"]]},{"id":"7df11f50cc7a4958","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":760,"wires":[]},{"id":"01bd614101c74368","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":760,"wires":[["7df11f50cc7a4958","cf9c2eedef934ec7"]]},{"id":"3504803ebfba25b3","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":760,"wires":[["01bd614101c74368","ac12e30a717666b2"]]},{"id":"cf9c2eedef934ec7","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":840,"wires":[["c769895bd0f1f8da"]]},{"id":"c769895bd0f1f8da","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":840,"wires":[["7df11f50cc7a4958","c63a433a355dd4f3"]]},{"id":"c63a433a355dd4f3","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":880,"wires":[["3b1acca7d8c7e9dc"]]},{"id":"3b1acca7d8c7e9dc","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":960,"wires":[["f57c7cbbbabf1cd6","dfce12376e423f2e"]]},{"id":"dfce12376e423f2e","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"no2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1090,"y":1000,"wires":[["a0ed0e27f54d95ea"]]},{"id":"a0ed0e27f54d95ea","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1040,"wires":[["f57c7cbbbabf1cd6"]]},{"id":"f57c7cbbbabf1cd6","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":960,"wires":[["7cf3c38904cddb35","ee822c9a93ce773d"]]},{"id":"7cf3c38904cddb35","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":1040,"wires":[["8bfe827950a28bba"]]},{"id":"8bfe827950a28bba","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1040,"wires":[["ee822c9a93ce773d","5b743d5715deebaf"]]},{"id":"ee822c9a93ce773d","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":960,"wires":[]},{"id":"5b743d5715deebaf","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":1100,"wires":[["7c9bf2d86e7177c0"]]},{"id":"7c9bf2d86e7177c0","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1180,"wires":[["a261c91169c9ad1b","371e822105730d1a"]]},{"id":"371e822105730d1a","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"no3","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1090,"y":1220,"wires":[["a3b3649048046d80"]]},{"id":"a3b3649048046d80","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1260,"wires":[["a261c91169c9ad1b"]]},{"id":"a261c91169c9ad1b","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":1180,"wires":[["de0850f73944b7c1","24016b37cc0d4076"]]},{"id":"de0850f73944b7c1","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":1260,"wires":[["b36318d797ea30d9"]]},{"id":"b36318d797ea30d9","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1260,"wires":[["24016b37cc0d4076","cea13404b3290b6a"]]},{"id":"24016b37cc0d4076","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1180,"wires":[]},{"id":"cea13404b3290b6a","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":1320,"wires":[["8d3ccb2159502fb7"]]},{"id":"8d3ccb2159502fb7","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1400,"wires":[["aecd03b4ae8dd18a","52f103bb591e6d1b"]]},{"id":"52f103bb591e6d1b","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"no4","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1090,"y":1440,"wires":[["d3078da313a5f38d"]]},{"id":"d3078da313a5f38d","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1480,"wires":[["aecd03b4ae8dd18a"]]},{"id":"aecd03b4ae8dd18a","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":1400,"wires":[["6d25d545b3f32b68","4ba7d0d808835f12"]]},{"id":"6d25d545b3f32b68","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":1480,"wires":[["50d870b46a45423a"]]},{"id":"50d870b46a45423a","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1480,"wires":[["4ba7d0d808835f12","e3fe1a3da722f630"]]},{"id":"4ba7d0d808835f12","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1400,"wires":[]},{"id":"e3fe1a3da722f630","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":940,"y":1540,"wires":[["2dfdacc1da349f6f"]]},{"id":"2dfdacc1da349f6f","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ATD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1620,"wires":[["95ae5f7a7a13b507","6a1a812799352895"]]},{"id":"6a1a812799352895","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"no5","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1090,"y":1660,"wires":[["6f1e56b9078046bc"]]},{"id":"6f1e56b9078046bc","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1700,"wires":[["95ae5f7a7a13b507"]]},{"id":"95ae5f7a7a13b507","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":1620,"wires":[["73f28b141774fe58","34e963d8ad376e8d"]]},{"id":"73f28b141774fe58","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":1700,"wires":[["89827ca7e1cfd498"]]},{"id":"89827ca7e1cfd498","type":"function","z":"bc22bf37633ae9c3","name":"","func":"msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1700,"wires":[["34e963d8ad376e8d"]]},{"id":"34e963d8ad376e8d","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":1620,"wires":[]},{"id":"22de25f5c335c33d","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"temp_l","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":590,"y":640,"wires":[[]]},{"id":"796535cd5e22c106","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"temp_h","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":600,"y":680,"wires":[[]]},{"id":"3f527cca8ac6bdf8","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.attributes.callingEnabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":580,"wires":[["05d97f6145febdae"]]},{"id":"ee0372793f9efb40","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.attributes.temperatureUpperLimit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":680,"wires":[["796535cd5e22c106"]]},{"id":"05d97f6145febdae","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"alarm_en","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":600,"y":580,"wires":[[]]},{"id":"ea6435a60858f861","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.attributes.temperatureLowerLimit","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":640,"wires":[["22de25f5c335c33d"]]},{"id":"c6adbe1981497161","type":"join","z":"bc22bf37633ae9c3","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1390,"y":420,"wires":[["749facb295cf994d"]]},{"id":"cd91869f76fd397f","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":460,"wires":[["c6adbe1981497161"]]},{"id":"9a65aae1714f907d","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":500,"wires":[["c6adbe1981497161"]]},{"id":"148e861d7b34ad32","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"alarm_en","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1040,"y":420,"wires":[["c6adbe1981497161","e409af3474416c43"]]},{"id":"d748b7fc6e865cf0","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"temp_l","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1030,"y":500,"wires":[["9a65aae1714f907d","660da0777ef747cd"]]},{"id":"e409af3474416c43","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"temp_h","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1040,"y":460,"wires":[["cd91869f76fd397f","d748b7fc6e865cf0"]]},{"id":"1cd3bc5fd58ef135","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"temp_1","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":400,"y":360,"wires":[[]]},{"id":"edde1e1a49359f7b","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"temp_2","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":400,"y":400,"wires":[[]]},{"id":"960d6b1b3bd72a96","type":"file","z":"bc22bf37633ae9c3","name":"","filename":"temp_3","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":400,"y":440,"wires":[[]]},{"id":"6651707bbf4e4a0c","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":540,"wires":[["c6adbe1981497161"]]},{"id":"660da0777ef747cd","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"temp_1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1040,"y":540,"wires":[["6651707bbf4e4a0c","d6266eda0f2a594e"]]},{"id":"067895e56d37fa12","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":580,"wires":[["c6adbe1981497161"]]},{"id":"d6266eda0f2a594e","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"temp_2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1040,"y":580,"wires":[["067895e56d37fa12","0143b505b98cbc99"]]},{"id":"3137ec4698b659d9","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":620,"wires":[["c6adbe1981497161"]]},{"id":"0143b505b98cbc99","type":"file in","z":"bc22bf37633ae9c3","name":"","filename":"temp_3","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1040,"y":620,"wires":[["3137ec4698b659d9"]]},{"id":"e882abd7bc2a78d7","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.alarm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":420,"wires":[["4a37cbd907a97a06"]]},{"id":"749facb295cf994d","type":"function","z":"bc22bf37633ae9c3","name":"","func":"var data=msg.payload;\nvar out={};\n\nif (msg.payload[3] >= msg.payload[1] || msg.payload[4] >= msg.payload[1] || msg.payload[5] >= msg.payload[1])\n{\n    if(msg.payload[0] == \"true\")\n    {\n    out[\"alarm\"]='1'; \n    }\n    else if(msg.payload[0] == \"false\")\n    {\n    out[\"alarm\"]='0';    \n    }\n}\n\nelse if (msg.payload[3] < msg.payload[2] || msg.payload[4] < msg.payload[2] || msg.payload[5] < msg.payload[2])\n{\n    if(msg.payload[0] == \"true\")\n    {\n    out[\"alarm\"]='1'; \n    }\n    else if(msg.payload[0] == \"false\")\n    {\n    out[\"alarm\"]='0';    \n    }\n}\n\nelse\n{\n   out[\"alarm\"]='0';  \n}\n\nmsg.payload=[out];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":420,"wires":[["e882abd7bc2a78d7"]]},{"id":"f4c05caed9088125","type":"debug","z":"bc22bf37633ae9c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2230,"y":420,"wires":[]},{"id":"4a37cbd907a97a06","type":"switch","z":"bc22bf37633ae9c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":420,"wires":[["90a9d9d9c217dd64"],["25a91cce0b15f79a"]]},{"id":"90a9d9d9c217dd64","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":380,"wires":[["f4c05caed9088125"]]},{"id":"25a91cce0b15f79a","type":"change","z":"bc22bf37633ae9c3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":460,"wires":[["f4c05caed9088125","3504803ebfba25b3"]]},{"id":"b182a307e00a050b","type":"delay","z":"bc22bf37633ae9c3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":520,"wires":[["148e861d7b34ad32"]]},{"id":"8c7352d4.16715","type":"mqtt-broker","name":"","broker":"203.151.152.87","port":"3002","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]