Flow/Flow_Alarm_backup/Flow_alarm_backup002(trigger-set-reset).json
[
    {
        "id": "8af5887d7529182b",
        "type": "tab",
        "label": "Flow Alarm(Backup002)",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "858d2b0be451ed92",
        "type": "json",
        "z": "8af5887d7529182b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 980,
        "wires": [
            [
                "10416a543067af2e",
                "df3c78d5718c6277",
                "8693c991f5400bc0",
                "29e509f3783a9557",
                "173ba8b91a80c671",
                "4ef4ba1dc9e34abe",
                "af78d23b0cd99baf",
                "21364862540d1ec2"
            ]
        ]
    },
    {
        "id": "43cdb98970a44fa9",
        "type": "mqtt in",
        "z": "8af5887d7529182b",
        "name": "",
        "topic": "btg/0164",
        "qos": "2",
        "datatype": "auto",
        "broker": "8c7352d4.16715",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 980,
        "wires": [
            [
                "858d2b0be451ed92"
            ]
        ]
    },
    {
        "id": "dbfc014ca5cb308e",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no1",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 980,
        "wires": [
            [
                "85cc858b65c89c0e"
            ]
        ]
    },
    {
        "id": "10416a543067af2e",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.contacts.0.phone",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "dbfc014ca5cb308e"
            ]
        ]
    },
    {
        "id": "da5cba7d1794ce30",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no2",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "3981fcc13282668e"
            ]
        ]
    },
    {
        "id": "df3c78d5718c6277",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.contacts.1.phone",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "da5cba7d1794ce30"
            ]
        ]
    },
    {
        "id": "8693c991f5400bc0",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.contacts.2.phone",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "fdf31574fc79a2e4"
            ]
        ]
    },
    {
        "id": "fdf31574fc79a2e4",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no3",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 1140,
        "wires": [
            [
                "f41f40974875e3db"
            ]
        ]
    },
    {
        "id": "29e509f3783a9557",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.contacts.3.phone",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "49cf78b9f775520c"
            ]
        ]
    },
    {
        "id": "49cf78b9f775520c",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no4",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 1220,
        "wires": [
            [
                "236f4992f9694a17"
            ]
        ]
    },
    {
        "id": "173ba8b91a80c671",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.contacts.4.phone",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1300,
        "wires": [
            [
                "ba3c3f8256326fe3"
            ]
        ]
    },
    {
        "id": "ba3c3f8256326fe3",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no5",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 1300,
        "wires": [
            [
                "6a99e2ccc9d0f140"
            ]
        ]
    },
    {
        "id": "7787918c60b049b7",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no1",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3460,
        "y": 760,
        "wires": [
            [
                "93e85b22a646d6f1"
            ]
        ]
    },
    {
        "id": "fabe77c510acfe93",
        "type": "inject",
        "z": "8af5887d7529182b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3240,
        "y": 720,
        "wires": [
            [
                "b1dd347466779380"
            ]
        ]
    },
    {
        "id": "93e85b22a646d6f1",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 800,
        "wires": [
            [
                "3bd2aaf3aea9ac6c"
            ]
        ]
    },
    {
        "id": "3bd2aaf3aea9ac6c",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3670,
        "y": 720,
        "wires": [
            [
                "adccd647eeb93697",
                "8f6e7b1f82efc5cc",
                "b2f3337979ddd38f"
            ]
        ]
    },
    {
        "id": "b1dd347466779380",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ATD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 720,
        "wires": [
            [
                "3bd2aaf3aea9ac6c",
                "7787918c60b049b7"
            ]
        ]
    },
    {
        "id": "adccd647eeb93697",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3680,
        "y": 800,
        "wires": [
            [
                "496be43f188dbd1a"
            ]
        ]
    },
    {
        "id": "496be43f188dbd1a",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3840,
        "y": 800,
        "wires": [
            [
                "625dc56943022f9f",
                "8f6e7b1f82efc5cc",
                "b2f3337979ddd38f"
            ]
        ]
    },
    {
        "id": "625dc56943022f9f",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3320,
        "y": 860,
        "wires": [
            [
                "2d75d1a8ad331d36"
            ]
        ]
    },
    {
        "id": "2d75d1a8ad331d36",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ATD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 920,
        "wires": [
            [
                "e6e0d870a798e205",
                "5694140e1a10c76a"
            ]
        ]
    },
    {
        "id": "5694140e1a10c76a",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no2",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3460,
        "y": 960,
        "wires": [
            [
                "e45e08e3a1ced450"
            ]
        ]
    },
    {
        "id": "e45e08e3a1ced450",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 1000,
        "wires": [
            [
                "e6e0d870a798e205"
            ]
        ]
    },
    {
        "id": "e6e0d870a798e205",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3670,
        "y": 920,
        "wires": [
            [
                "ea67f709b38b6cae",
                "bb63dac89d8ba6ee",
                "0ec407de089332a4"
            ]
        ]
    },
    {
        "id": "ea67f709b38b6cae",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3680,
        "y": 1000,
        "wires": [
            [
                "588e6a4a5fe83284"
            ]
        ]
    },
    {
        "id": "588e6a4a5fe83284",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3840,
        "y": 1000,
        "wires": [
            [
                "940aa3ef016370a4",
                "bb63dac89d8ba6ee",
                "0ec407de089332a4"
            ]
        ]
    },
    {
        "id": "940aa3ef016370a4",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3320,
        "y": 1060,
        "wires": [
            [
                "7bacdf52b027494c"
            ]
        ]
    },
    {
        "id": "7bacdf52b027494c",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ATD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 1140,
        "wires": [
            [
                "abc8a907a6979a37",
                "6c3d3e612950296a"
            ]
        ]
    },
    {
        "id": "6c3d3e612950296a",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no3",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3460,
        "y": 1180,
        "wires": [
            [
                "29c1f7583854d14c"
            ]
        ]
    },
    {
        "id": "29c1f7583854d14c",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 1220,
        "wires": [
            [
                "abc8a907a6979a37"
            ]
        ]
    },
    {
        "id": "abc8a907a6979a37",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3670,
        "y": 1140,
        "wires": [
            [
                "7e8bef573d0260d4",
                "f6dc7cde7ee4642b",
                "ab0adeb5b5ed5ffd"
            ]
        ]
    },
    {
        "id": "7e8bef573d0260d4",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3680,
        "y": 1220,
        "wires": [
            [
                "3e151815ca64bc1f"
            ]
        ]
    },
    {
        "id": "3e151815ca64bc1f",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3840,
        "y": 1220,
        "wires": [
            [
                "9285a5c4149fd82c",
                "f6dc7cde7ee4642b",
                "ab0adeb5b5ed5ffd"
            ]
        ]
    },
    {
        "id": "9285a5c4149fd82c",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3320,
        "y": 1280,
        "wires": [
            [
                "1017923fa9aaf496"
            ]
        ]
    },
    {
        "id": "1017923fa9aaf496",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ATD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 1360,
        "wires": [
            [
                "82ad95c133d15fee",
                "3c8edd936d616cc2"
            ]
        ]
    },
    {
        "id": "3c8edd936d616cc2",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no4",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3460,
        "y": 1400,
        "wires": [
            [
                "cf621a58b19504ba"
            ]
        ]
    },
    {
        "id": "cf621a58b19504ba",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 1440,
        "wires": [
            [
                "82ad95c133d15fee"
            ]
        ]
    },
    {
        "id": "82ad95c133d15fee",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3670,
        "y": 1360,
        "wires": [
            [
                "7a0199442c88d4e5",
                "b229fb52358fbc9f",
                "a7ccd784af7b1afd"
            ]
        ]
    },
    {
        "id": "7a0199442c88d4e5",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3680,
        "y": 1440,
        "wires": [
            [
                "cfc717509027c38d"
            ]
        ]
    },
    {
        "id": "cfc717509027c38d",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3840,
        "y": 1440,
        "wires": [
            [
                "b229fb52358fbc9f",
                "a06f2dda2889dc50",
                "a7ccd784af7b1afd"
            ]
        ]
    },
    {
        "id": "b229fb52358fbc9f",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4050,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a06f2dda2889dc50",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3320,
        "y": 1500,
        "wires": [
            [
                "b413aaf20fc431f1"
            ]
        ]
    },
    {
        "id": "b413aaf20fc431f1",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ATD",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 1580,
        "wires": [
            [
                "9233113fe9a7abe5",
                "7021c147900bfe61"
            ]
        ]
    },
    {
        "id": "7021c147900bfe61",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no5",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3460,
        "y": 1620,
        "wires": [
            [
                "dd4444889ccbcaf7"
            ]
        ]
    },
    {
        "id": "dd4444889ccbcaf7",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3480,
        "y": 1660,
        "wires": [
            [
                "9233113fe9a7abe5"
            ]
        ]
    },
    {
        "id": "9233113fe9a7abe5",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3670,
        "y": 1580,
        "wires": [
            [
                "01807cb28f26aefc",
                "a1a6356f26fd0f19",
                "0a31aeb19d70ad6f"
            ]
        ]
    },
    {
        "id": "01807cb28f26aefc",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3680,
        "y": 1660,
        "wires": [
            [
                "8a8d1fefb4717b82"
            ]
        ]
    },
    {
        "id": "8a8d1fefb4717b82",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "",
        "func": "msg.payload = \"ATH\";\nmsg.payload += Buffer.from(\"0D\", \"hex\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3840,
        "y": 1660,
        "wires": [
            [
                "a1a6356f26fd0f19",
                "0a31aeb19d70ad6f"
            ]
        ]
    },
    {
        "id": "a1a6356f26fd0f19",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4050,
        "y": 1660,
        "wires": []
    },
    {
        "id": "3cb08274ac39be1f",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "temp_l",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 580,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "357bc39c0813f666",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "temp_h",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "4ef4ba1dc9e34abe",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.attributes.callingEnabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "b3d8c4f0817cc2f3"
            ]
        ]
    },
    {
        "id": "af78d23b0cd99baf",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.attributes.temperatureUpperLimit",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 900,
        "wires": [
            [
                "357bc39c0813f666"
            ]
        ]
    },
    {
        "id": "b3d8c4f0817cc2f3",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "alarm_en",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "21364862540d1ec2",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.attributes.temperatureLowerLimit",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 860,
        "wires": [
            [
                "3cb08274ac39be1f"
            ]
        ]
    },
    {
        "id": "91292d6fe37e1a0e",
        "type": "join",
        "z": "8af5887d7529182b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1990,
        "y": 420,
        "wires": [
            [
                "7e5f0c01fb378785",
                "795e1b60af0e2d8a"
            ]
        ]
    },
    {
        "id": "5811e9d2b9409525",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/alarm_en",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "d8e17f9afc52a930",
                "144f37b07558bb56"
            ]
        ]
    },
    {
        "id": "7203b975f2e07e08",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/temp_l",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1260,
        "y": 500,
        "wires": [
            [
                "ce252fd2d95e407d",
                "09208421d16ef13f"
            ]
        ]
    },
    {
        "id": "d8e17f9afc52a930",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/temp_h",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "7203b975f2e07e08",
                "3f98a07664a4a519"
            ]
        ]
    },
    {
        "id": "304d6fac1cdad0cb",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "temp_1",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a5a648ab3105b29d",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "temp_2",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 400,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "05dc6bfee9f5a1b7",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "temp_3",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 400,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ce252fd2d95e407d",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/temp_1",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "cfe35032f5c843a6",
                "2a91e36e31376e2d"
            ]
        ]
    },
    {
        "id": "cfe35032f5c843a6",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/temp_2",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "d6ae763811782de0",
                "23da92aa66708650"
            ]
        ]
    },
    {
        "id": "d6ae763811782de0",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "/home/pi/temp_3",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1270,
        "y": 620,
        "wires": [
            [
                "17c7ec491628c260"
            ]
        ]
    },
    {
        "id": "d5c713ccc231a9fd",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alarm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2380,
        "y": 420,
        "wires": [
            [
                "acfd5052c88b6fe4",
                "57b079e7f090c7ef"
            ]
        ]
    },
    {
        "id": "acfd5052c88b6fe4",
        "type": "switch",
        "z": "8af5887d7529182b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2550,
        "y": 420,
        "wires": [
            [
                "0c1024083adbe5f5"
            ],
            [
                "578df00bd8dd4ef5"
            ]
        ]
    },
    {
        "id": "0c1024083adbe5f5",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2740,
        "y": 340,
        "wires": [
            [
                "5377321491efb36d",
                "11c50fdba2bcf13d"
            ]
        ]
    },
    {
        "id": "578df00bd8dd4ef5",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2740,
        "y": 500,
        "wires": [
            [
                "5377321491efb36d",
                "522902d262151699",
                "11c50fdba2bcf13d",
                "febae893692e5b99"
            ]
        ]
    },
    {
        "id": "347ef821e3907058",
        "type": "comment",
        "z": "8af5887d7529182b",
        "name": "Loop calling",
        "info": "",
        "x": 3230,
        "y": 660,
        "wires": []
    },
    {
        "id": "5dba8139a8592c81",
        "type": "comment",
        "z": "8af5887d7529182b",
        "name": "Loop check status mode",
        "info": "",
        "x": 1230,
        "y": 300,
        "wires": []
    },
    {
        "id": "1861b4d6dc59174a",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "F-alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2180,
        "y": 380,
        "wires": []
    },
    {
        "id": "57b079e7f090c7ef",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "Result alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2390,
        "y": 380,
        "wires": []
    },
    {
        "id": "0b171d178c9ae83f",
        "type": "switch",
        "z": "8af5887d7529182b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "304d6fac1cdad0cb"
            ]
        ]
    },
    {
        "id": "57fc70e287f5e362",
        "type": "switch",
        "z": "8af5887d7529182b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "a5a648ab3105b29d"
            ]
        ]
    },
    {
        "id": "8a2abd49837a3ebb",
        "type": "switch",
        "z": "8af5887d7529182b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 440,
        "wires": [
            [
                "05dc6bfee9f5a1b7"
            ]
        ]
    },
    {
        "id": "53d26342e6c9cf24",
        "type": "rpi-gpio out",
        "z": "8af5887d7529182b",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3200,
        "y": 440,
        "wires": []
    },
    {
        "id": "374ce43e751800ee",
        "type": "mqtt out",
        "z": "8af5887d7529182b",
        "name": "",
        "topic": "btg_alarm_status_supan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0aec914a7a32d5b2",
        "x": 3250,
        "y": 340,
        "wires": []
    },
    {
        "id": "8ba20f9eaa326013",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3200,
        "y": 400,
        "wires": []
    },
    {
        "id": "8f6e7b1f82efc5cc",
        "type": "serial out",
        "z": "8af5887d7529182b",
        "name": "",
        "serial": "35bdc2c895af1a09",
        "x": 4050,
        "y": 720,
        "wires": []
    },
    {
        "id": "0ec407de089332a4",
        "type": "serial out",
        "z": "8af5887d7529182b",
        "name": "",
        "serial": "35bdc2c895af1a09",
        "x": 4050,
        "y": 920,
        "wires": []
    },
    {
        "id": "f6dc7cde7ee4642b",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4050,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bb63dac89d8ba6ee",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4050,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b2f3337979ddd38f",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4050,
        "y": 780,
        "wires": []
    },
    {
        "id": "ab0adeb5b5ed5ffd",
        "type": "serial out",
        "z": "8af5887d7529182b",
        "name": "",
        "serial": "35bdc2c895af1a09",
        "x": 4050,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a7ccd784af7b1afd",
        "type": "serial out",
        "z": "8af5887d7529182b",
        "name": "",
        "serial": "35bdc2c895af1a09",
        "x": 4050,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0a31aeb19d70ad6f",
        "type": "serial out",
        "z": "8af5887d7529182b",
        "name": "",
        "serial": "35bdc2c895af1a09",
        "x": 4050,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e314c62908aeb8c0",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 89",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 540,
        "wires": []
    },
    {
        "id": "2a91e36e31376e2d",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 20",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp_1);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 540,
        "wires": [
            [
                "e314c62908aeb8c0",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "23da92aa66708650",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 21",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp_2);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 580,
        "wires": [
            [
                "51361a8b85ce4042",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "17c7ec491628c260",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 22",
        "func": "var jsonData = JSON.parse(msg.payload);\nvar tempValue = parseFloat(jsonData.temp_3);\n\nif (!isNaN(tempValue)) {\n    msg.payload = tempValue;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 620,
        "wires": [
            [
                "361143c96969ab9b",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "51361a8b85ce4042",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 90",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 580,
        "wires": []
    },
    {
        "id": "361143c96969ab9b",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 91",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 620,
        "wires": []
    },
    {
        "id": "06ee2ffc7b16b659",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 92",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 500,
        "wires": []
    },
    {
        "id": "967b5e642ea7699a",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 93",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 460,
        "wires": []
    },
    {
        "id": "6be947a0bbe8af3f",
        "type": "inject",
        "z": "8af5887d7529182b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "5811e9d2b9409525"
            ]
        ]
    },
    {
        "id": "09208421d16ef13f",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 25",
        "func": "var fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 500,
        "wires": [
            [
                "06ee2ffc7b16b659",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "3f98a07664a4a519",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 26",
        "func": "var fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 460,
        "wires": [
            [
                "967b5e642ea7699a",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "795e1b60af0e2d8a",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 42",
        "func": "var out = {};\n\nvar condition1 = msg.payload[3] >= msg.payload[1] || msg.payload[4] >= msg.payload[1] || msg.payload[5] >= msg.payload[1];\nvar condition2 = msg.payload[3] < msg.payload[2] || msg.payload[4] < msg.payload[2] || msg.payload[5] < msg.payload[2];\n\nif (condition1) {\n    out[\"alarm\"] = msg.payload[0] === 1 ? \"0\" : '1';\n} else if (condition2) {\n    out[\"alarm\"] = msg.payload[0] === 1 ? '0' : '1';\n} else {\n    out[\"alarm\"] = \"1\";\n}\n\nmsg.payload = out;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2170,
        "y": 420,
        "wires": [
            [
                "d5c713ccc231a9fd",
                "1861b4d6dc59174a"
            ]
        ]
    },
    {
        "id": "7e5f0c01fb378785",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 94",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 380,
        "wires": []
    },
    {
        "id": "144f37b07558bb56",
        "type": "change",
        "z": "8af5887d7529182b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 420,
        "wires": [
            [
                "c476e201ebc56079"
            ]
        ]
    },
    {
        "id": "c476e201ebc56079",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 44",
        "func": "var fileData = msg.payload.toString(); // แปลงข้อมูลจาก Buffer เป็น string\nvar numericValue = parseFloat(fileData);\n\nif (!isNaN(numericValue)) {\n    msg.payload = numericValue;\n    return msg;\n} else {\n    return null; \n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "01550d79a350837d",
                "38672355708dd127"
            ]
        ]
    },
    {
        "id": "01550d79a350837d",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 97",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 340,
        "wires": []
    },
    {
        "id": "5840e54a457de485",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 50",
        "func": "var newData = msg.payload + ';';\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "1af359e15a457979"
            ]
        ]
    },
    {
        "id": "102cbccbb121a8e3",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no1",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 980,
        "wires": [
            [
                "5840e54a457de485"
            ]
        ]
    },
    {
        "id": "1af359e15a457979",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no1",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "85cc858b65c89c0e",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 980,
        "wires": [
            [
                "102cbccbb121a8e3"
            ]
        ]
    },
    {
        "id": "c3c96894e3bf0ea4",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 51",
        "func": "var newData = msg.payload + ';';\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "83ee5e1a5d0e28a9"
            ]
        ]
    },
    {
        "id": "f50042fc958757e8",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no2",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1060,
        "wires": [
            [
                "c3c96894e3bf0ea4"
            ]
        ]
    },
    {
        "id": "83ee5e1a5d0e28a9",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no2",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "3981fcc13282668e",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "f50042fc958757e8"
            ]
        ]
    },
    {
        "id": "9c19ad85ebd6d97a",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 52",
        "func": "var newData = msg.payload + ';';\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1140,
        "wires": [
            [
                "5ab96ba75d38a135"
            ]
        ]
    },
    {
        "id": "5401137828494552",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no3",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "9c19ad85ebd6d97a"
            ]
        ]
    },
    {
        "id": "5ab96ba75d38a135",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no3",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "f41f40974875e3db",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "5401137828494552"
            ]
        ]
    },
    {
        "id": "9252f3403adb8428",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 53",
        "func": "var newData = msg.payload + ';';\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1220,
        "wires": [
            [
                "9c80874094299267"
            ]
        ]
    },
    {
        "id": "888ed364d6f79636",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no4",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1220,
        "wires": [
            [
                "9252f3403adb8428"
            ]
        ]
    },
    {
        "id": "9c80874094299267",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no4",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "236f4992f9694a17",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 1220,
        "wires": [
            [
                "888ed364d6f79636"
            ]
        ]
    },
    {
        "id": "8ebd4654647a1677",
        "type": "function",
        "z": "8af5887d7529182b",
        "name": "function 54",
        "func": "var newData = msg.payload + ';';\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1300,
        "wires": [
            [
                "59e22da821f2de87"
            ]
        ]
    },
    {
        "id": "1f282f87388b2cb4",
        "type": "file in",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no5",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1300,
        "wires": [
            [
                "8ebd4654647a1677"
            ]
        ]
    },
    {
        "id": "59e22da821f2de87",
        "type": "file",
        "z": "8af5887d7529182b",
        "name": "",
        "filename": "no5",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1290,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "6a99e2ccc9d0f140",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "1f282f87388b2cb4"
            ]
        ]
    },
    {
        "id": "38672355708dd127",
        "type": "delay",
        "z": "8af5887d7529182b",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1800,
        "y": 420,
        "wires": [
            [
                "91292d6fe37e1a0e"
            ]
        ]
    },
    {
        "id": "5377321491efb36d",
        "type": "debug",
        "z": "8af5887d7529182b",
        "name": "debug 117",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 420,
        "wires": []
    },
    {
        "id": "522902d262151699",
        "type": "mqtt out",
        "z": "8af5887d7529182b",
        "name": "",
        "topic": "btg_alarm_status_supan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0aec914a7a32d5b2",
        "x": 3030,
        "y": 580,
        "wires": []
    },
    {
        "id": "febae893692e5b99",
        "type": "trigger",
        "z": "8af5887d7529182b",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3210,
        "y": 500,
        "wires": [
            [
                "7ee3b5c4a7ffad15"
            ]
        ]
    },
    {
        "id": "11c50fdba2bcf13d",
        "type": "trigger",
        "z": "8af5887d7529182b",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2990,
        "y": 420,
        "wires": [
            [
                "374ce43e751800ee",
                "8ba20f9eaa326013",
                "53d26342e6c9cf24",
                "febae893692e5b99"
            ]
        ]
    },
    {
        "id": "7ee3b5c4a7ffad15",
        "type": "trigger",
        "z": "8af5887d7529182b",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3400,
        "y": 500,
        "wires": [
            [
                "b1dd347466779380"
            ]
        ]
    },
    {
        "id": "8c7352d4.16715",
        "type": "mqtt-broker",
        "name": "",
        "broker": "203.151.152.87",
        "port": "3002",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0aec914a7a32d5b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "203.151.152.87",
        "port": "3002",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "status",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "status",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35bdc2c895af1a09",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB2",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]